<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="common/navbars::top-navbar"></div>
<main class="main">
  <div>
    <form method="post" class="form" th:action="@{/course/create}" th:object="${model}">
      <div class="form-group model-attributes">
        <label th:for="name">Name</label>
        <input id="name" th:field="*{name}" type="text"/>

        <label th:for="credit">Credit</label>
        <input id="credit" th:field="*{credit}" type="number" step="1" min="0" max="999"/>

        <label th:for="semester">Semester</label>
        <select id="semester" th:field="*{semester}">
          <option th:each="opt : ${T(hu.szte.inf.models.Semester).values()}"
                  th:value="${opt}" th:text="${opt.displayValue}"></option>
        </select>

        <label th:for="grade">Grade</label>
        <select id="grade" th:field="*{grade}">
          <option th:value="null"></option>
          <option th:each="opt : ${T(hu.szte.inf.models.Grade).values()}"
                  th:value="${opt}" th:text="${opt.displayValue}"></option>
        </select>
      </div>
      <div class="form-group buttons">
        <button class="button" type="submit">Create</button>
        <button class="button" onclick="history.back()" type="button">Back</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>
