body {
  margin: 0;
}

main {
  padding-top: 3.5vw;
  margin: 1vw;
}

.model-attributes {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 3000;
  background-color: #404040;
  display: flex;
  justify-content: space-between;
}

.top-nav {
  align-content: center;
  width: 100%;
  max-height: 3.5vw;
  top: 0;
  left: 0;
}

.nav-div {
  display: flex;
}

.nav-div.left {
  align-items: flex-start;
}

.nav-div.right {
  align-items: flex-end;
}

.nav-button {
  font-weight: bold;
  color: #E9E4DD;
  text-decoration: none;
  padding: 1vw;
}

.button {
}

.table, table {
  border-collapse: collapse;
}

.table > thead > tr {
  border-bottom: 2px solid #313131;
}

.table > tbody > tr {
  height: 2vw;
}

.table > tbody > tr:hover {
  background-color: rgba(84, 145, 217, 0.19);
}

.td.table > tbody > tr:last-child {
  border-bottom: 1px solid #313131;
}

.td.table > td, th {
  padding: 1vw;
}
